<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kssuite.mail">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="KS‑Suite Mail"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainWebViewActivity"/>
    </application>
</manifest>
